services:
  db:
    image: postgres:15
    environment:
      POSTGRES_DB: police_portal
      POSTGRES_USER: police_portal
      POSTGRES_PASSWORD: police_portal
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  web:
    build:
      context: .
      dockerfile: backend/Dockerfile
    command: /bin/sh -c "python manage.py migrate && python manage.py collectstatic --noinput && python manage.py runserver 0.0.0.0:8000"
    volumes:
      - ./backend:/app
      - media_data:/app/media
    ports:
      - "8000:8000"
    environment:
      DJANGO_DEBUG: "1"
      DJANGO_SECRET_KEY: "dev-secret"
      POSTGRES_DB: police_portal
      POSTGRES_USER: police_portal
      POSTGRES_PASSWORD: police_portal
      POSTGRES_HOST: db
      POSTGRES_PORT: 5432
      PAYMENT_GATEWAY_PROVIDER: "zarinpal"
      ZARINPAL_SANDBOX: "1"
      ZARINPAL_MERCHANT_ID: "00000000-0000-0000-0000-000000000000"
      PAYMENT_CALLBACK_BASE_URL: "http://localhost:8000"
    depends_on:
      - db

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    ports:
      - "5173:80"
    depends_on:
      - web

volumes:
  postgres_data:
  media_data:
